body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* root container styling  */
#root {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  text-align: center;
}

/* weather details styling */
.current-weather {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-weather-details {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.current-conditions {
  display: flex;
  flex-direction: row;
}

.high-and-low {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.hourly-forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  flex-direction: row;
}

.temp-and-conditions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
