body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* root container styling  */
#root {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  text-align: center;
}

/* form styling */
.row > * {
  flex-shrink: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.search-form {
  width: 30%;
}

/* weather details styling */
.current-weather {
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-weather-details {
  /* text-align: right; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.details {
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.325rem;
}

.forecast-for-each-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.current-weather-icon {
  width: 100px;
  height: auto;
}

.high-and-low {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.hourly-forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  flex-direction: row;
}

.temp-and-conditions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.three-day-forecast {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.three-day-forecast-container {
  padding-left: 13.5rem;
  padding-right: 13.5rem;
}

.weather-forecast {
  padding-left: 13.5rem;
  padding-right: 13.5rem;
}
